<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Page</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to My Simple HTML Page</h1>
    </header>
    <main>
        <input type="file" id="csvFileInput" accept=".csv" />
        <p>This is a simple HTML page created as an example. Feel free to modify it!</p>
        <p>Here's a link to <a href="https://www.google.com" target="_blank">Google</a>.</p>
    </main>
    <footer>
        &copy; 2024 My Simple HTML Page
    </footer>
    <script src="../static/script.js"></script>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Visualization</title>
</head>
<body>
    <h1>CSV Data Visualization</h1>
    <div>
        <!-- Embed the Plotly graph -->
        {{ graph_html|safe }}
    </div>
</body>
</html>
